@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryColor: #1f4167;
  --secondaryColor: #4a5568;
  --accentColor: #f7a01c;
  --hoverColor: #fdd007;
  --textColor: #fff;
  --backgroundColor: #f7fafc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  -webkit-user-drag: none;
}
